[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pymongo = "*"
pytest = "*"
pytest-flask = "*"
coverage = "*"
pylint = "*"
black = "*"
tomli = "*"
typing_extensions = "*"

[dev-packages]

[requires]
python_version = "3.13"
